@using System.Text.Json
@{
    var Response = ViewData["response"];}
@*    string apiResponse = @"
    {
      ""Success"": true, 
      ""Object"": [
        {
          ""Receiver"": ""Receiver1"", 
          ""Content"": ""Content1"", 
          ""Status"": ""Status1"", 
          ""ScheduleDate"": ""ScheduleDate1"", 
          ""RequestDate"": ""RequestDate1"", 
          ""SystemMessage"": ""SystemMessage1"", 
          ""DlrStatus"": ""DlrStatus1"", 
          ""Sender"": ""Sender1""
        },
        {
          ""Receiver"": ""Receiver2"", 
          ""Content"": ""Content2"", 
          ""Status"": ""Status2"", 
          ""ScheduleDate"": ""ScheduleDate2"", 
          ""RequestDate"": ""RequestDate2"", 
          ""SystemMessage"": ""SystemMessage2"", 
          ""DlrStatus"": ""DlrStatus2"", 
          ""Sender"": ""Sender2""
        }
      ],
      ""Message"": null
    }"; 
   //olhar como fazer com encoding e se e melhor, dar uma olhada na minha conta da comtele para ver se eu n tenho mais 
   //creditos ou desloguei por quaisquer motivo, caso n consiga, lembrar da senha ou do porque ta dando treta perguntar para o Diego qualquer coisa
string apiResponse = "[{\"Success\": true, \"Object\": [{\"Receiver\": \"Receiver1\", \"Content\": \"Content1\", \"Status\": \"Status1\", \"ScheduleDate\": \"ScheduleDate1\", \"RequestDate\": \"RequestDate1\", \"SystemMessage\": \"SystemMessage1\", \"DlrStatus\": \"DlrStatus1\", \"Sender\": \"Sender1\"}, {\"Receiver\": \"Receiver2\", \"Content\": \"Content2\", \"Status\": \"Status2\", \"ScheduleDate\": \"ScheduleDate2\", \"RequestDate\": \"RequestDate2\", \"SystemMessage\": \"SystemMessage2\", \"DlrStatus\": \"DlrStatus2\", \"Sender\": \"Sender2\"}]}]";

using (JsonDocument doc = JsonDocument.Parse(apiResponse)){
    <h1>Message Information</h1>
    <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
    <table border="1">
        <tr>
            <th>Receiver</th>
            <th>Content</th>
            <th>Status</th>
            <th>Schedule Date</th>
            <th>Request Date</th>
            <th>System Message</th>
            <th>Dlr Status</th>
            <th>Sender</th>
        </tr>
        @foreach (var message in doc.RootElement[0].GetProperty("Object").EnumerateArray())
        {
            <tr>
                <td>@message.GetProperty("Receiver").GetString()</td>
                <td>@message.GetProperty("Content").GetString()</td>
                <td>@message.GetProperty("Status").GetString()</td>
                <td>@message.GetProperty("ScheduleDate").GetString()</td>
                <td>@message.GetProperty("RequestDate").GetString()</td>
                <td>@message.GetProperty("SystemMessage").GetString()</td>
                <td>@message.GetProperty("DlrStatus").GetString()</td>
                <td>@message.GetProperty("Sender").GetString()</td>
            </tr>
        }
    </table>
}
}
<p>@apiResponse</p> *@
<p>@Response</p>