@page "/Register"

<a href="/Login ">Go back</a>

<h1>Register</h1>
<div>
<form action="CreateUser.cs" method="POST">
    <label type="email" for="email">Email</label>
    <input id="email" @bind="user.Email" />
    <br>
    <label for="Password">Senha</label>
    <input type="password" id="Password" @bind="user.Password" />
    <br>
    <label for="@nameof(PHONE)">Celular</label>
    <input type="tel" id="@nameof(PHONE)" @bind="PHONE" />
    <br>
    <label for="@nameof(CPF)">CPF</label>
    <input type="number" id="@nameof(CPF)" @bind="CPF" />
    <br>
    <button type="submit">Enviar</button>
</form>
</div>
<p>@user.Email</p>
<p>@user.Password</p>
@code{

    User user = new();
    int? PHONE;
    int? CPF;
}